.accordionn:after {
  content: "";
  position: absolute;
  top: 8px;
  bottom: 12px;
  right: 18px;
  width: 1px;
  background: #e4e4e4;
  pointer-events: none;
}

.sidebar-accordion {
  .MuiPaper-root {
    background: transparent !important;

    .MuiButtonBase-root {
      min-height: 48px !important;

      .MuiAccordionSummary-content {
        margin: 0 !important;
      }
    }
  }
}
