@font-face {
  font-family: IRANYekanExtraBold;
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/iranyekan/eot/iranyekanwebextrabold.eot");
  src: local(IRANYekanExtraBold),
    url("./assets/fonts/iranyekan/eot/iranyekanwebextrabold.eot")
      format("embedded-opentype"),
    /* IE6-8 */
      url("./assets/fonts/iranyekan/woff/iranyekanwebextrabold.woff")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("./assets/fonts/iranyekan/woff/iranyekanwebextrabold.woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("./assets/fonts/iranyekan/ttf/iranyekanwebextrabold.ttf")
      format("truetype");
  font-display: swap;
  unicode-range: U+?????;
}