.MuiBadge-badge {
    background-color: rgba(178, 231, 253, 1) !important;
    color: #000000 !important;
    width: 1.25rem !important;
    height: 1.25rem !important;
    font-size: 0.75rem !important;
    border-radius: 0.3125rem !important;
}